.styled-button-1 {
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
	color: #FFF;
	background-color: #69c;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: none;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	float: right;
	height: 32px;
	padding: 4px 16px;
}

.btn {
	background: #3498db;
	-webkit-border-radius: 16;
	-moz-border-radius: 16;
	border-radius: 16px;
	font-family: Arial;
	color: #ffffff;
	font-size: 13px;
	padding: 10px 20px 10px 20px;
	outline: none;
	text-decoration: none;
	margin: 0px auto;
}

.btn:hover {
	background: #3cb0fd;
	text-decoration: none;
}

.btnRaport {
	background: #3498db;
	font-family: Arial;
	color: #ffffff;
	font-size: 13px;
	padding: 10px 20px 10px 20px;
	outline: none;
	text-decoration: none;
	margin: 0px auto;
}

.btnRaport:hover {
	background: #3cb0fd;
	text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
}

.nav {
	text-align: center;
	position: relative;
	float: left;
	left: 50%;
}

.nav li {
	text-align: center;
	position: relative;
	position: relative;
	float: left;
	width: 150px;
	right: 50%;
}

.aprobSauResp{
	
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -20px;
}



#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:10px;   
   text-align: center;
   color:white;
}

.footer, .push {
	height: 20px;
	text-align :center;
	color: white;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: url('../images/sada.jpg') no-repeat center center fixed;
}

#body {
	padding: 10px;
	padding-bottom: 60px; /* Height of the footer */
}

.nav ul {
	text-align: center;
	position: absolute;
	width: 150px;
	margin-left: 75px;
}

ul {
	list-style: none;
	padding: 0;
	text-align: center;
}

ul li {
	float: left;
	padding-right: 1px;
	position: relative;
}

ul a {
	display: table-cell;
	vertical-align: middle;
	width: 150px;
	height: 50px;
	text-align: center;
	background: #69c;
	color: #fff;
	text-decoration: none;
}

ul a:hover {
	background: #09c;
}

li>ul {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
}

li:hover>ul {
	display: block;
}

li>ul li {
	padding: 0;
	padding-top: 1px;
}

h3 {
	color: white;
	text-align: right;
}

h2 {
	color: white;
	text-align: left;
}